<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  <!--数据库链接字符串-->
  <connectionStrings>
    <add name="connStr" connectionString="Server=118.190.202.136; Database=ZS.CMS.Web; User Id=tcdos; Password=tcdos2012; "/>
  </connectionStrings>
  <!--系统设置-->
  <appSettings>
    <!--配置文件-->
    <add key="configPath" value="~/xml/site_config.xml"/>
    <!--缓存的时间（分钟）-->
    <add key="CacheTime" value="30"/>
    <!--是否启用缓存（1:开启 | 0:关闭）-->
    <add key="isCache" value="0"/>
    <add key="CacheDomain" value="ZS.CMS.Web"/>
  </appSettings>
  <!--网站配置-->
  <system.web>
    <!--用户控件注册-->
    <pages validateRequest="false">
      <controls>
        <!--类别-->
        <add tagPrefix="zs_uc" src="~/uc/category.ascx" tagName="category"/>
        <!--单页-->
        <add tagPrefix="zs_uc" src="~/uc/page_list.ascx" tagName="page_list"/>
        <add tagPrefix="zs_uc" src="~/uc/page_view.ascx" tagName="page_view"/>
        <!--产品-->
        <add tagPrefix="zs_uc" src="~/uc/product_ajax.ascx" tagName="product_ajax"/>
        <add tagPrefix="zs_uc" src="~/uc/product_list.ascx" tagName="product_list"/>
        <add tagPrefix="zs_uc" src="~/uc/product_view.ascx" tagName="product_view"/>
        <!--新闻-->
        <add tagPrefix="zs_uc" src="~/uc/article_ajax.ascx" tagName="article_ajax"/>
        <add tagPrefix="zs_uc" src="~/uc/article_list.ascx" tagName="article_list"/>
        <add tagPrefix="zs_uc" src="~/uc/article_view.ascx" tagName="article_view"/>
        <!--下载-->
        <add tagPrefix="zs_uc" src="~/uc/down_ajax.ascx" tagName="down_ajax"/>
        <add tagPrefix="zs_uc" src="~/uc/down_list.ascx" tagName="down_list"/>
        <add tagPrefix="zs_uc" src="~/uc/down_file.ascx" tagName="down_file"/>
        <!--案例-->
        <add tagPrefix="zs_uc" src="~/uc/case_ajax.ascx" tagName="case_ajax"/>
        <add tagPrefix="zs_uc" src="~/uc/case_list.ascx" tagName="case_list"/>
        <add tagPrefix="zs_uc" src="~/uc/case_view.ascx" tagName="case_view"/>
        <!--方案-->
        <add tagPrefix="zs_uc" src="~/uc/solution_view.ascx" tagName="solution_view"/>
        <!--招聘-->
        <add tagPrefix="zs_uc" src="~/uc/hr_list.ascx" tagName="hr_list"/>
        <add tagPrefix="zs_uc" src="~/uc/hr_apply.ascx" tagName="hr_apply"/>
        <!--数据树-->
        <add tagPrefix="zs_uc" src="~/uc/tree_list.ascx" tagName="tree_list"/>
        <!--留言-->
        <add tagPrefix="zs_uc" src="~/uc/feedback_form.ascx" tagName="feedback_form"/>
        <!--链接-->
        <add tagPrefix="zs_uc" src="~/uc/link_list.ascx" tagName="link_list"/>
      </controls>
    </pages>
    <!--超时设置-->
    <httpRuntime maxRequestLength="1073741824" executionTimeout="300" requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true"/>
    <!--调试设置-->
    <compilation debug="true" targetFramework="4.0"/>
    <!-- 安全身份验证模式-->
    <authentication mode="Windows"/>
    <!--错误页-->
    <customErrors mode="RemoteOnly" defaultRedirect="error.html">
      <error statusCode="403" redirect="error.html"/>
      <error statusCode="404" redirect="error.html"/>
    </customErrors>
  </system.web>
</configuration>